<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h2>Discussion of Data Quality</h2>
        <p>Brief Summary of the the quality of the data is presented here</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>The data is a nearly complete data set of all Twitter data that 
	contains the "place" attribute that is within 100 miles of the 
	Pyeong Chang Olympic Stadium for the time period of interest. Note that this includes both those users that have geolocation on, as well as those users that allow Twitter
	to generally infer their location.  The plot below 
	provides a view of the spatial and temporal distribution of the data.  It also provides the distribution across languages.  

	</p>
      </div>
      
  
   <div class="image123">
    <div class="imgContainer">
        <img src="../static/bluemarble.png" alt="map" style="width:300px;border:10;>   
        <p>This is image 1</p>
    </div>
    <div class="imgContainer">
         <img src="../static/time_hist.png" alt="histogram" style="width:300px;border:10;>   
        <p>This is image 2</p>
    </div>
    <div class="imgContainer">
          <img src="../static/language.png" alt="barchart" style="width:300px;border:10;>   
        <p>This is image 3</p>
    </div>
</div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p> Overall the distributions matched our expectations after taking it all into consideration.  
	At first it seemed like we had a high volume of non-olympic "noise" in the data.  After
	plotting the map above, however, we realized that our radius was too big, and we were picking
	up alot of the normal Twitter 'chatter' coming out of Seoul, Korea.  In later iterations of this
	we intend to shrink our radius in order to eliminate this noise.  
	
</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>The data is accurate and correct, as long as you understand the underlying population usage
	and the collection technique described above.  Any use of this data cannot be used to provide statistical
	inference on the entire Korean Population, or on the entire population of visitors watching the games,
	since Twitter users are not randomly "sprinkled" over either population.  That being said, this does
	provide a great source of data to understand the conversation that is originating and emerging from right 
	around the Olympic Games.  </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
